<div class="card mb-3">

    <div class="card-body">

        <h5 class="card-title">
            <span class="post-author">
                {% include 'user/_avatar.html.twig' with { 'user': comment.author } %}
            </span>
        </h5>

        <div class="row">
            <div class="col-12">
                <p class="card-text">{{ comment.content }}</p>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-start">

            <div class="post-card-data">
                <p class="card-text">
                    <i class="far fa-heart"></i>
                    <small class="text-muted"><strong>4</strong> Likes</small>
                </p>
            </div>
            <div class="post-card-data">
                <p class="card-text"><small class="text-muted">Published 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>