ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 32px;
}

.post-card-data {
    margin: 0 8px;
}

.post-author {
    display: flex;
    align-items: center;
}

.post-author img {
    width: 50px;
    height: 50px;
    margin-right: 16px;
}

.post-comments {
    padding-left: 32px;
}

.post-comments h5 {
    font-size: 16px;
}


.avatar-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;

    margin-right: 8px;
}

.liked {
    color: #de1a15;
}