{% extends 'base.html.twig' %}

{% block title %}
    Instafrep
{% endblock %}


{% block navbar %}
{# No navbar on homepage #}
{% endblock %}

{% block headerContent %}
    <h1 class="display-4">Instafrep</h1>
    <p class="lead">Code, sandwiches and fun !!!</p>

    <hr class="my-4">

    <a class="btn btn-primary btn-lg" href="" role="button">Join now</a>
    <small> or </small>
    <a href="{{ path('login') }}">login</a>
{%  endblock %}

{% block mainContent %}
    <ul id="post-list">
        {% for post in posts %}
            <li>
                {% include 'post/card.html.twig' %}
            </li>
        {% endfor  %}
    </ul>

    <div class="row">
        <div class="col">
            {% include 'post/pagination.html.twig' %}
        </div>
    </div>
{% endblock %}



{% block sidebarContent %}

    <div class="sticky">

        <h2>Login</h2>
        {% include 'security/_login-form.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/like.js') }}"></script>

{% endblock %}