{% extends 'base.html.twig' %}

{%  block mainContent %}

    <div class="random-container">
        <p id="random">
            {{ rand }}
        </p>

        <button id="roll" class="btn btn-primary btn-lg">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>

            <span class="btn-content">Roll the dice !</span>
        </button>

        <div class="alert alert-danger" id="alert">
            <strong>Error : </strong>
            <span class="error"></span>
        </div>
    </div>
{%  endblock %}

{% block javascripts %}

    <script src="{{ asset('js/async.js') }}"></script>

{% endblock %}
