{% extends 'base.html.twig' %}

{% block title %}
    Liste des publications publiques
{% endblock %}


{% block headerContent %}
    <h1 class="display-4">Instafrep</h1>
    <p class="lead">42 nouveaux posts aujourd'hui</p>

{%  endblock %}

{% block mainContent %}

    <ul>
        {% for post in posts %}
            <li>
                {% include 'post/card.html.twig' %}
            </li>
        {% endfor  %}
    </ul>
{% endblock %}



{% block sidebarContent %}

    <div class="sticky">
        {% include 'post/form.html.twig' %}
    </div>
{% endblock %}



{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/like.js') }}"></script>

{% endblock %}