{% extends 'base.html.twig' %}

{% block title %}
    Single
{% endblock %}


{% block headerContent %}
    <h1 class="display-4">Post #{{ post.id }}</h1>
{%  endblock %}

{% block mainContent %}

    {% set hideLink = true %}
    {% include 'post/card.html.twig' %}

{% endblock %}



{% block sidebarContent %}

    <a href="{{ url('posts_list') }}" class="btn btn-block btn-outline-primary">
        Revenir à la liste
    </a>


{% endblock %}

