{% extends 'base.html.twig' %}

{% block title %}
    Profil de {{ user.username }}
{% endblock %}


{% block headerContent %}
    <h1 class="display-4">{{ user.username }}</h1>
{%  endblock %}

{% block mainContent %}
    <ul>
        {% for post in user.posts %}
            <li>
                {% include 'post/card.html.twig' %}
            </li>
        {% else %}
            <li>
                {{ user.username }} n'a rien publié pour le moment !
            </li>
        {% endfor  %}
    </ul>
{% endblock %}

{% block sidebarContent %}

    <a href="{{ url('posts_list') }}" class="btn btn-block btn-outline-primary">
        Revenir à la liste
    </a>


    <div class="card mt-4">

        <div class="card-body">


           {% include 'user/_profile-form.html.twig' %}
        </div>

    </div>


{% endblock %}

